*.bbprojectd
*.rbc
*.swp
*.tmproj
*~
.bundle
.DS_Store
.gitmodules
.project
.rvmrc
.sass-cache
*.sublime-*
.tm_properties
._*
chromedriver.log
db/*.sqlite3
db/production.sql
doc/app
doc/README_FOR_APP
log/*.log
log/acceptance
mkmf.log
public/export
public/export/*.csv
public/export/*.txt
public/local
tmp/*
tmp/**/*
vendor/plugins/selenium-on-rails/log/
/.idea/
