<div class="content-item">
  <%= link_to(article.title, article, :class=>"title") %>
  <div class="story"><%= HTML_Truncator.truncate(article.body, 30).html_safe %></div>
  <div class="timestamp">
    <ul>
      <li>Created: <%= article.created_at.to_formatted_s(:short) %></li>
      <li>Modified: <%= article.updated_at.to_formatted_s(:short) %></li>
  </div>

</div>
