<div id="articles_controller">
<% @recent_articles.each do |article| %>
<%= render :partial => "articles/brief", :locals => {:article => article} %>
<% end %>
</div>
<h3><%= link_to "More  Articles", "articles/" %></h3>
