<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Updated</th>
    <th>Display</th>
    <th></th>
  </tr>
  <% @sponsors.each do |sponsor| %>
  <%= render "sponsor", :sponsor => sponsor %>
  <% end %>
</table>

<div>
  <%= link_to(image_tag('icons/add.png'), new_admin_sponsor_path) %>
</div>
