<td>
  <%= link_to category.name, edit_admin_category_path(category) %>
</td>
<td>
<%= link_to(image_tag('icons/table.png'), 
    category_races_path(category), 
    :title => 'View races', :class => "image") unless category.races.empty? %>
</td>
