.title {
    color: #b00;
    font-size: 22px;
    font-family: "Comic Sans", "Comic Sans MS", "Zapf Chancery", "Impact";
}

.content {
    font-size: 14px;
    color: black;
}

.timestamp {
    font-size: 12px;
    font-style: italic;
    color:black;
}