label {
    border: 1px solid #EEE;
}


div.check_box div.input, div.check_box div.label {
 float: left;
}

div.check_box label, div.radio label {
  font-weight: normal;
  text-align: left;
  line-height: 15px;
  clear: none;
  margin-top: 0px;
  margin-right: 0px;
}

.form-left, .form-right {
    width: 50%;
    padding: 0px 0px 0px 0px;
  //  border-top: 0px;
//    border-radius: 0px;
}