
div.check_box div.input, div.check_box div.label {
 float: left;
}

div.check_box label, div.radio label {
  font-weight: normal;
  text-align: left;
  line-height: 15px;
  clear: none;
  margin-top: 0px;
  margin-right: 0px;
}
