$even-odd-bg: #BBB;

@mixin even-odd-common {
/*
    border: 4px solid #EEE;

    padding: px;
    border-radius: 10px;
*/
    @include transition(all 300ms ease-in-out);

    &:hover {
	background: $even-odd-bg + #333;
    }
/*
    a {
	color: blue;
    }
    */
}

a {
    color: #b00;
    text-decoration: none;
    &:hover {
	color: #f00;
    }
}

body {
    font-family: $helvetica;
    background: url("backgrounds/wolf-bw.jpg")
}

img {
    max-width: 100%;
}


ul {

}

li {

    display: inline;

}

.odd {
    background: $even-odd-bg + #111;
    @include even-odd-common
}


.even {
    background: $even-odd-bg - #111;
    @include even-odd-common
}
