$border-rad: 4px;
$light-text: white;
$dark-text: black;
$main-bg: silver;
$overall-width: 1050px;
$main-width: 640px;


.tag {


    border: 0px solid #EEE;

    padding: 3px;
    border-radius: 10px;


    @include transition(all 300ms ease-in-out);

    &:hover {
	background: #EEE - #333;
    }

    a {
	color: blue;
    }
    
}

.page-wrapper {
    width: $overall-width;
    margin:auto;
}

.main-wrapper, .admin-wrapper {
    width: $overall-width;
    margin: auto;
    border-radius: $border-rad;
    background: $main-bg;
    position: relative;
    top: 10px;
    overflow: hidden;
    display: table;
}

.main-wrapper > div {
    background: #EEE;
    border: 5px solid $main-bg;
    padding: 3px;
    @include box-sizing(border-box);
    border-radius: $border-rad * 3;
    display: table-cell;
    overflow: visible;
}

.content-item {
    background: #EEE;
    border-top: 2px solid $main-bg + #111;
    border-bottom: 3px solid $main-bg;
    padding: 10px 3px 10px 3px;
    border-radius: $border-rad * 3;
    word-wrap: break-word;
}


.main-content {
    width: $main-width;
    max-width: $main-width;
    min-width: $main-width;

    font-size: 14px;

}


.side-info {

    width: 200px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;

    img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .75em;
	margin-bottom: .75em;
	max-width: 150px;
	min-width: 150px;
    }

    
    ul {
	margin-top: -3px;
	margin-bottom: 0px;
	text-align: left;
    }

    li {
	display: list-item;
	margin-top: -3px;
	margin-bottom: 0px;
	padding: 2px;
	margin-left: -1em;
	font-size: 12px;


	span {
	    margin-left: -.5em;
	}
    }

    h1 {
	font-size: 16px;
    }
}