$border-rad: 4px;
$light-text: white;
$dark-text: black;
$main-bg: silver;
$overall-width: 1050px;
$main-width: 650px;




#header {
    background: url("backgrounds/gbratitle.jpg") top center no-repeat;
    width: $overall-width;
    height: 100px;
    margin: auto;
    border-radius: $border-rad;
    @include box-shadow(0px 0px 2px 2px);
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    display: block;

}


#top-menu {


    @include background(linear-gradient(#303030, #888));
    background-color: #777;
    width: $overall-width;
    height: 31px;
    margin: auto;
    position: relative;
    top: 2px;
    border-radius: $border-rad;
    @include box-shadow(0px 0px 2px 2px);

    ul, li {
	display: inline;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	top: 3px;
    }

    
    a {
	@include box-sizing(content-box);
	text-decoration: none;
	color: $light-text;
	&:hover {
	    border: 5px solid #333;
	    color: #fcff00;
	    background-color: #333;
	    border-radius: $border-rad;
	}
    }

}

.main-wrapper {
    width: $overall-width;
    margin: auto;
    border-radius: $border-rad;
    background: $main-bg;
    position: relative;
    top: 10px;
    overflow: hidden;
}

.main-content {
    width: $main-width px;
    float: left;
    max-width: $main-width;
    min-width: $main-width;
}


.side-info {
    width: 200px;
    float: left;

    ul {

    }

    li {
	margin-left: 15px;
	font-size: 16px;
	display: list-item;
	line-height: 90%;

	span {
	    margin-left: -10px;
	}
    }

    h1 {
	font-size: 16px;
    }
}

.content-item {
    background: #EEE;
    border: 3px solid $main-bg;
    padding: 10px;
    @include box-sizing(border-box);
    border-radius: $border-rad * 3;

    
    ul {

    }

    li {
	font-size: 12px;
//	text-decoration: none;
    }
}