<% cutoff = Time.zone.today - RacingAssociation.current.weeks_of_recent_results * 7 %>

<% @recent_results = Event.all(:select => "DISTINCT(events.id), events.name, events.parent_id, events.date, events.sanctioned_by",:joins => [:races => :results], :conditions => ['events.date > ? and events.sanctioned_by = ?', cutoff, RacingAssociation.current.default_sanctioned_by],:order => 'events.date desc').first(4) %>



<%= link_to "Recent Results", results_path, :id => "results_link" %>
<ul>
  <%- @recent_results.each do |event| -%>
  <li><%= link_to event.full_name, event_results_path(event, :host => RacingAssociation.current.rails_host) %></li>
  <%- end -%>
</ul>

<%- if @recent_results.empty? -%>
  No results in the last two weeks</br>
<%- end -%>
</br>
