<% @upcoming_events = UpcomingEvents.find_all(:weeks => RacingAssociation.current.weeks_of_upcoming_events) %>


<%= link_to "Schedule", schedule_path, :id => "schedule_link" %>
<% @upcoming_events.disciplines.map(&:upcoming_events).flatten.sort_by(&:date).reverse.first(4).each do |event| %>
  <li><%= public_link_to_flyer event %></li>
<% end %>

